* {
  box-sizing: border-box;
}

body {
  width: 700px;
  height: 245px;

  background: linear-gradient(
    to right,
    rgba(255, 224, 224, 1) 0%,
    rgba(255, 240, 224, 1) 8%,
    rgba(255, 255, 224, 1) 17%,
    rgba(243, 255, 224, 1) 25%,
    rgba(224, 255, 224, 1) 33%,
    rgba(224, 255, 240, 1) 41%,
    rgba(224, 255, 255, 1) 50%,
    rgba(224, 240, 255, 1) 58%,
    rgba(224, 224, 255, 1) 66%,
    rgba(240, 224, 255, 1) 75%,
    rgba(255, 224, 255, 1) 83%,
    rgba(255, 224, 240, 1) 92%,
    rgba(255, 224, 224, 1) 100%
  );

  padding: 15px;

  display: flex;
  flex-direction: column;
}

#waiting-box {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 30px;
}

#waiting-picture {
  width: 128px;
  height: 128px;
}

#waiting-message {
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: rgb(33, 121, 214);
}

#descriptor-area {
  flex: 1;
  resize: none;
}

#copy-button {
  margin-top: 15px;
  min-height: 40px;
  text-transform: uppercase;
}

.off-screen {
  display: none;
}
